@model IEnumerable<string>


@if (Model != null && Model.Count() > 0)
{
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            @foreach (var item in Model)
            {
                var year = item.Split('-')[0];
                var month = item.Split('-')[1];
                <li>
                    <a href="@Url.Action("PostMonthInfo", "PostInfo", new { year = year, month = month })">@string.Format("{0}年{1}月", year, month)</a>
                </li>
            }
        </ul>
    </div>
}