
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a id="login" href="#">登录微博</a>
</div>

<script>
    $(function () {
        $.post("@Url.Action("GetUserState")", {}, function (res) {
            console.log(res);
            if (res.code != 1) {
                var url = res.url;
                $("#login").attr("href", url);
            }
            else {
                alert("login ok");
            }
        });
    });
</script>